In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [5]:
import numpy as np
import pandas as pd

import torch
import torch.nn as nn
import torch.nn.functional as F

In [7]:
EMBED_DIM = 13

In [4]:
df = pd.read_csv("../input/train.csv")
df.head()

,id,digit,letter,0,1,2,3,4,5,6,...,774,775,776,777,778,779,780,781,782,783
0,1,5,L,1,1,1,4,3,0,0,...,2,1,0,1,2,4,4,4,3,4
1,2,0,B,0,4,0,0,4,1,1,...,0,3,0,1,4,1,4,2,1,2
2,3,4,L,1,1,2,2,1,1,1,...,3,3,3,0,2,0,3,0,2,2
3,4,9,D,1,2,0,2,0,4,0,...,3,3,2,0,1,4,0,0,1,1
4,5,6,A,3,0,2,4,0,3,0,...,4,4,3,2,1,3,4,3,1,2

In [ ]:
class LetterEmbedding(nn.Module):
    def __init__(self):
        super(LetterEmbedding, self).__init__()
        self.embed = nn.Embedding(27, EMBED_DIM)
        
    def forward(self, x):
        pass

In [6]:
embed = nn.Embedding(27, EMBED_DIM)

NameError: name 'embed_dim' is not defined