# Make folds

In [7]:
import random
import numpy as np
import pandas as pd
from iterstrat.ml_stratifiers import MultilabelStratifiedKFold
import warnings
warnings.simplefilter("ignore")

In [8]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)

## `train.csv`

In [9]:
df = pd.read_csv("../input/train.csv")
df = df.sample(frac=1).reset_index(drop=True)
y = df[["digit", "letter"]].values
kf = MultilabelStratifiedKFold(n_splits=5)
for fold, (train_indices, valid_indices) in enumerate(kf.split(X=df, y=y)):
    np.save(f"../input/train_idx-fold{fold}", train_indices)
    np.save(f"../input/valid_idx-fold{fold}", valid_indices)

,id,digit,letter,0,1,2,3,4,5,6,...,774,775,776,777,778,779,780,781,782,783
0,1,5,L,1,1,1,4,3,0,0,...,2,1,0,1,2,4,4,4,3,4
1,2,0,B,0,4,0,0,4,1,1,...,0,3,0,1,4,1,4,2,1,2
2,3,4,L,1,1,2,2,1,1,1,...,3,3,3,0,2,0,3,0,2,2
3,4,9,D,1,2,0,2,0,4,0,...,3,3,2,0,1,4,0,0,1,1
4,5,6,A,3,0,2,4,0,3,0,...,4,4,3,2,1,3,4,3,1,2

## `pl/train_pl.csv`

In [13]:
df = pd.read_csv("../input/pl/train_pl.csv")
df = df.sample(frac=1).reset_index(drop=True)
y = df[["digit", "letter"]].values
kf = MultilabelStratifiedKFold(n_splits=5)
for fold, (train_indices, valid_indices) in enumerate(kf.split(X=df, y=y)):
    np.save(f"../input/pl/train_idx-fold{fold}", train_indices)
    np.save(f"../input/pl/valid_idx-fold{fold}", valid_indices)

## `pl2/train_pl2.csv`

In [14]:
df = pd.read_csv("../input/pl2/train_pl2.csv")
df = df.sample(frac=1).reset_index(drop=True)
y = df[["digit", "letter"]].values
kf = MultilabelStratifiedKFold(n_splits=5)
for fold, (train_indices, valid_indices) in enumerate(kf.split(X=df, y=y)):
    np.save(f"../input/pl2/train_idx-fold{fold}", train_indices)
    np.save(f"../input/pl2/valid_idx-fold{fold}", valid_indices)

## `pl3/train_pl3.csv`

In [12]:
df = pd.read_csv("../input/pl3/train_pl3.csv")
df = df.sample(frac=1).reset_index(drop=True)
y = df[["digit", "letter"]].values
kf = MultilabelStratifiedKFold(n_splits=5)
for fold, (train_indices, valid_indices) in enumerate(kf.split(X=df, y=y)):
    np.save(f"../input/pl3/train_idx-fold{fold}", train_indices)
    np.save(f"../input/pl3/valid_idx-fold{fold}", valid_indices)